@model ML.Users
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Form</h2>


<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Id, new { @class = "hidden" })
                        @Html.TextBoxFor(model => model.Id, new { @class = "hidden form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Id)
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Name)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Nombre", @class = "form-control", @id = "txtName" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.LastName)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.LastName, new { @placeholder = "LastName", @class = "form-control", @id = "txtLastName" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.SurName)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.SurName, new { @placeholder = "SurName", @class = "form-control", @id = "txtSurName" })
                            @Html.ValidationMessageFor(model => model.SurName)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Email)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "form-control", @id = "txtEmail" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.UserName)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "UserName", @class = "form-control", @id = "txtUserName" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.contrasena)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.contrasena, new { @placeholder = "Contraseña", @class = "form-control", @id = "txtContrasena" })
                            @Html.ValidationMessageFor(model => model.contrasena)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Parent)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.Parent, new { @placeholder = "Parent", @class = "form-control", @id = "txtParent" })
                            @Html.ValidationMessageFor(model => model.Parent)
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Estatus)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.Estatus, new { @placeholder = "Status", @class = "form-control", @id = "txtEstatus" })
                            @Html.ValidationMessageFor(model => model.Estatus)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Roles.IdRole)
                        <div class="input-group">
                            <span class="input-group-addon"><i class="bi bi-person-fill"></i></span>
                            @Html.TextBoxFor(model => model.Roles.IdRole, new { @placeholder = "Rol", @class = "form-control", @id = "txtIdRole" })
                            @Html.ValidationMessageFor(model => model.Roles.IdRole)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        @Html.ActionLink("Regresar", "GetAll", "Users", htmlAttributes: new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>